* {
  font-family: 'Helvetica Neue LT W1G 400', sans-serif; /* https://www.cdnfonts.com/helvetica-neue-lt-w1g.font */
  background-color: white;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ffe100;
  padding: 0 0.5rem;
  display: flex;
}

.body {
  margin: 1rem;
}

.scan-field {
  text-align: center;
}

.site-title {
  font-size: 1.5rem;
  background-color: #ffe100;
  font-weight: bold;
}

input {
  background-color: white;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.table-header {
  background-color: #e7e7e7;
  border-color: black;
}

.table-body {
  border-color: black;
}

.storage-bin {
  text-align: left;
  margin-top: 2rem;
}

.beschichtung {
  display: flex;
  padding: 0.5rem 0;
  font-size: 25px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
.beschichtung-select {
  width: 25rem;
  height: 3rem;
}

.checkbox {
  height: 50px;
  width: 50px;
}
.btn-primary-outline{
  background-color: #ffe100 !important;
  border-color: #ffe100 !important;
  color: black !important;
  width: 15rem;
  height: 5rem;
  border-color: black !important;
}

.btn-primary-outline:hover{
  background-color: white !important;
  
}

.textareaCustom{
  background-color: white !important;
  color: white;
}

.InputFertigungsauftrag{
  border-radius: 5px;
  margin: 0.5rem 0;
  width: 30rem;
}

.modalHeader {
  background-color: #ffe100
}

.modalButton {
  width: 16rem !important;
  background-color: #e7e7e7 !important;
  color: black !important;
  border-color: black !important;
  padding: 0.1rem 0 !important;
  margin-top: 0.4rem;
}

.modalButton:hover {
  background-color: #999999 !important; 
  transition: 0.7s !important;
}

.btn-header {
  background-color: #ffe100 !important;
  color: black !important;
  border-color: black !important;
  margin-left: auto
}

.btn-header:hover {
  background-color: white !important;
  
}

.showOrderButton {
  width: 25rem !important;
  background-color: #e7e7e7 !important;
  color: black !important;
  border-color: black !important;
  padding: 0.1rem 0 !important;
  margin-top: 0.4rem;
  height: 3rem;
  font-size: 25px !important;
}

.showOrderButton:hover {
  background-color: #999999 !important; 
  transition: 0.7s !important;
}

.actionBtn {
  width: 8rem !important;
  background-color: #e7e7e7 !important;
  color: black !important;
  border-color: black !important;
  padding: 0.1rem 0 !important;
  margin: 0.2rem 0.2rem;
}

input[type="number"] {
  -moz-appearance: textfield;
  
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
