* {
  font-family: 'Helvetica Neue LT W1G 400', sans-serif; /* https://www.cdnfonts.com/helvetica-neue-lt-w1g.font */
  /* background-color: white; */
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

body {
  margin: 0.1rem
}

.header {
  background-color: #ffe100;
  padding: 0 0.5rem;
  display: flex;
  position: relative;
  opacity: 0.9;
  border-radius: 10px;
}

/* .bg {
    background-image: url("/public/img/Tool_Management.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
} */

.body {
  position: relative;
  margin: 0.5rem
}
 
.homeButton {
  all: unset;
  cursor: pointer;
  margin-left: auto;
  height: 2.5rem;
  margin-top: 5px;
}

.homeButton:hover {
  opacity: 0.5;
}

.bg::before {
  content: "";
  background-image: url("/public/pictures/Tool_Management.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
} 

.scan-field {
  text-align: center;
}

.site-title {
  font-size: 36px;
  background-color: #ffe100;
  font-weight: bold;
}

h1 {
  font-size: 36px;
}


.header a {
  
  color: inherit;
  text-decoration: none;
}

.table {
  border: 2px solid #999999 !important; 
  text-align: center;
}

.table-header {
  color:black;
  background: #ffe100;
  vertical-align: middle;
}

.table-body {
  color:black;
  background: #e7e7e7;
  font-size: 20px;
}

/* tr:nth-child(even) {
  background: white;
} */

.storage-bin {
  text-align: left;
  margin-top: 2rem;
}

.beschichtung {
  display: flex;
  padding: 0.5rem 0;
  font-size: 25px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
.beschichtung-select  {
  position:absolute;
  left: 260px;
  width: 25rem;
  height: 3rem;
  background-color: #e7e7e7;
  border: 2px solid;
  border-radius: 10px;
}

.beschichtung-select2 {
  position:absolute;
  left: 260px;
  width: 25rem;
  height: 3rem;
  background-color: #e7e7e7;
  border: 2px solid;
  border-radius: 10px;
}

.wareneingang-beschichtung-select  {
  width: 7rem;
  border: 2px solid;
  text-align-last: center
}

/* .beschichtung-select option:nth-child(2) {
  background: red;
}

.beschichtung-select option:nth-child(3) {
  background: gold;
}

.beschichtung-select option:nth-child(4) {
  background: silver;
}

.beschichtung-select option:nth-child(5) {
  background: #d3d4d5;
} */

.form-check-input {
  font-size: 30px;
}

.homepage{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
}


.btn-primary-outline{
  background-color: #e7e7e7 !important;
  color: black !important;
  width: 15rem;
  height: 5rem;
  border-color: black !important;
}

.btn-primary-outline:hover{
  background-color: white !important;
  
}

.textareaCustom{
  background-color: white !important;
  color: white;
}

.inputFertigungsauftrag{
  border-radius: 5px;
  margin: 0.5rem 0;
  width: 30rem;
  background-color: white;
  height: 50px;
  font-size: 50px;
}

.modalHeader {
  background-color: #ffe100
}

p {
  font-size: 25px;
}

.modalButton {
  width: 15rem ;
  background-color: #e7e7e7 !important;
  color: black !important;
  margin: 0.4rem 0;
  font-size: 25px !important;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border: 2px solid !important;
}

.modalButton:hover {
  background-color: #999999 !important; 
  transition: 0.7s !important;
  box-shadow: none;
}

.actionBtn {
  width: 8rem ;
  background-color: #e7e7e7 !important;
  color: black !important;
  border-color: black !important;
  padding: 0.1rem 0 !important;
  margin: 0.2rem 0.2rem;
  border: 2px solid !important;
}

.actionBtn:hover {
  background-color: #999999 !important; 
  transition: 0.7s !important;
}

input[type="number"] {
  -moz-appearance: textfield;
  
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tabledata {
  border-style: hidden !important;
}


.showOrderButton {
  border: 2px solid !important;
  width: 25rem ;
  background-color: #e7e7e7 !important ;
  color: black !important;
  margin-top: 0.4rem;
  height: 3rem;
  font-size: 25px !important;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.showOrderButton:hover {
  background-color: #999999 !important; 
  transition: 0.7s !important;
  box-shadow: none;
}

/* 3D button css https://www.joshwcomeau.com/animation/3d-button/ */
.pushable {
  position: relative;
  left: 260px;
  width: 25rem;
  margin-top: 1rem;
  background: #999999;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;  
}

.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 25px !important;
    background: #e7e7e7;
    color: black;
    transform: translateY(-3px);
    border: 1px solid;
}

.front:hover {
  background-color: darkgrey;
  color: white;
  border: none;
}

.pushable:active .front {
    transform: translateY(-2px);
}

.bookingButton {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 5rem;
  color: black;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 15rem;
  width: 35rem
}
.bookingButton:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  border-radius: 5rem;
  z-index: -2;
}
.bookingButton:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffe100;
  transition: all 0.3s;
  border-radius: 5rem;
  z-index: -1;
}
.bookingButton:hover {
  color: black;
}
.bookingButton:hover:before {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .bg::before {
    background-image: url("/public/pictures/ImageflyerDE.png");
    
  }
} 